* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

i {
    font-size: 30px;
    padding-right: 15px;
}

.flex-item {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.item1 {
    border: 4px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 0px 20px;
}

.item1 h1 {
    padding-bottom: 10px;
}

.item2 {
    border: 4px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 0px 20px;
}

.item2 h1 {
    padding-bottom: 10px;
}

.item-details {
    display: flex;

}

.item-details1 {
    display: flex;
    padding: 5px 0px;
}

.item-details2 {
    display: flex;
    margin-left: 50px;
    padding: 5px 0px;
}